pandas
numpy
matplotlib
seaborn
scikit-learn
torch
torchvision
plotly
dash
dash-bootstrap-components>=2.0.0
scipy
gradio
openmeteo-requests
requests-cache
retry-requests
mlxtend
networkx
holidays
statsmodels
pmdarima
joblib
scikit-learn
